<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid p-3">
    <a class="navbar-brand" href="/" >NSI Page</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
<!--        <a class="nav-link active" aria-current="page" href="/" >Home</a>-->
        <a class="nav-link" href="/login">LogIn</a>
        <a class="nav-link" href="/register">Register</a>
<!--        <a class="nav-link disabled" aria-disabled="true">Disabled</a>-->
      </div>
    </div>
      {% if username %}
       <span class="navbar-text">
        {{username}}
      </span>
    <form class="d-flex ml-3" style="margin-left: 1rem;"   role="search" action="/logout">
      <button class="btn btn-outline-danger  " type="submit">LogOut</button>
    </form>
      {% endif %}
  </div>
</nav>