{% extends "base.html" %}
{% block content %}
<form action="/register" class="m-2" method="post">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" name="username">
  </div>

    <div class="form-group">
    <label for="username">Email</label>
    <input type="text" class="form-control" id="email" name="email">
  </div>

  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" id="pwd" name="password">
       <label for="pwd2">Confirm password:</label>
    <input type="password" class="form-control" id="pwd2" name="password2">
  </div>

  <div class="checkbox">
    <label><input type="checkbox"> Remember me</label>
  </div>
  <button type="submit" class="btn bg-success btn-default">Submit</button>
</form>
{% endblock %}